* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
p {
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-primary {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form {
    text-align: center;
    margin-top: 30px;
}

.logo-text {
    color: rgba(219, 48, 34, 1);
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 5px;
}

.customer-seller .customer {
    border: 1px solid grey; 
    box-sizing: border-box; 
    border-radius: 5px 0px 0px 5px; 
    width: 100px; 
    height: 40px;
    background-color: white;
    color: grey;
}

.customer-seller .seller {
    background-color: rgba(219, 48, 34, 1); 
    border: 1px solid grey; 
    border-radius: 0px 5px 5px 0px; 
    color: white; 
    margin-left: -5px;
    width: 100px; 
    height: 40px;
}

#email {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    padding: 13px;
    margin-top: 20px;
}

#password {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    margin-top: 20px;
    padding: 13px;
}

#password-confirmation {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    margin-top: 20px;
    padding: 13px;
}

#name {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    margin-top: 20px;
    padding: 13px;
}

#phone-number {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    margin-top: 20px;
    padding: 13px;
}

#store-name {
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    height: 48px;
    margin-top: 20px;
    padding: 13px;
}

h4 {
    font-weight: 1000; 
    font-size: 18px; 
    line-height: 18px; 
    text-align: center;
    margin-top: 25px;
}

h5 {
    font-size: 12px;
    text-align: center;
    color: #F01F0E;
    margin-top: 17px;
}

.forgot-password {
    margin-left: 270px;
    margin-top: 10px;
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    color: #DB3022;
    font-size: 15px;
}

.btn-primary {
    border-radius: 25px;
    background-color: rgba(219, 48, 34, 1);
    width: 380px;
    height: 48px;
    border: 2px solid grey;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-register {
    margin-top: 25px;
    color: #222222;
    font-size: 15px;
    line-height: 14px;
}

.text-register a {
    color: #DB3022;
    text-decoration: none;
}

.button-primary a {
    text-decoration: none;
    color: white;
}

/* CSS Bootstrap Home Page */

.logo-brand h1 {
    margin-top: -40px;
    margin-left: 40px;
    color: rgba(219, 48, 34, 1);
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

#search {
    border-radius: 23px;
    padding: 7px 15px;
    color: gray;
    width: 405px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid gray;
    font-weight: 500px;
    margin: 10px 0px 0px 80px;
}

.icon {
    margin-left: -50px;
    color: gray;
}

.filter {
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    margin: 0px 0px 0px 14px;
}

#shopping {
    border: 2px solid white;
    border-radius: 3px;
    color: grey;
    margin-left: 120px;
}

.btn-login {
    background: #DB3022;
    border-radius: 25px;
    border: 1px solid white;
    width: 100px;
    height: 36px;
    margin-left: 30px;
}

.btn-signup {
    background: white;
    border-radius: 25px;
    border: 1px solid grey;
    width: 100px;
    height: 36px;
    margin-left: 30px;
}

.image-1 {
    width: 270px;
    height: 180px;
    top: 30px;
}

.image-1 img {
    border-radius: 12px;
    border: 1px solid white;
}

.image-2 {
    width: 455px;
    height: 303px;
    top: 30px;
}

.image-2 h3 {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 110px;
    font-size: 38px;
    line-height: 38px;
}

.image-2 img {
    border-radius: 12px;
    border: 1px solid white;
}

.image-3 {
    width: 455px;
    height: 303px;
    top: 30px;
}

.image-3 h3 {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 110px;
    font-size: 38px;
    line-height: 38px;
}

.image-3 img {
    border-radius: 12px;
    border: 1px solid white;
}

.image-4 {
    width: 270px;
    height: 180px;
    top: 30px;
}

.image-4 img {
    border-radius: 12px;
    border: 1px solid white;
}

.title-category {
    margin-bottom: 20px;

}

.title-category h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.title-category h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}

.brand-category {
    width: 206px;
    height: 220px;
    background: #CC0B04;
    border-radius: 8px;
}

.brand-category img {
    margin: 22px 42px;
}

.brand-category h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    bottom: 110px;
}

.brand-category-1 {
    width: 206px;
    height: 220px;
    background: #1C3391;
    border-radius: 8px;
}

.brand-category-1 img {
    margin: 20px;
}

.brand-category-1 h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    bottom: 110px;
}

.brand-category-2 {
    width: 206px;
    height: 220px;
    background: #F67B02;
    border-radius: 8px;
}

.brand-category-2 img {
    margin: 30px 20px 30px 35px;
}

.brand-category-2 h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    bottom: 110px;
}

.brand-category-3 {
    width: 206px;
    height: 220px;
    background: #E31F51;
    border-radius: 8px;
}

.brand-category-3 img {
    margin: 30px 10px 20px 60px;
}

.brand-category-3 h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    bottom: 100px;
}

.brand-category-4 {
    width: 206px;
    height: 220px;
    background: #57CD9E;
    border-radius: 8px;
}

.brand-category-4 img {
    margin: 40px 20px 10px 20px;
}

.brand-category-4 h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    bottom: 75px;
}

.new-product {
    margin: 30px 0px 20px 0px;
}

.title-new-product  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.text-new-product {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
    border: 1px solid #ffffff;
    width: 198px;
    height: 308px;
    margin: 10px 0px;
}

.card-product {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card-price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-brand {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-popular-product  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.text-popular-product {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}


/* Media Query Login,Register,reset-password,konfirmasi-password */
@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #logo {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    p {
        text-align: center;
    }
    .button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .button-primary {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    form {
        text-align: center;
        margin-top: 30px;
    }
    
    .logo-text {
        color: rgba(219, 48, 34, 1);
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin-top: 15px;
    }
    
    .customer-seller .customer {
        border: 1px solid grey; 
        box-sizing: border-box; 
        border-radius: 5px 0px 0px 5px; 
        width: 100px; 
        height: 40px;
        background-color: white;
        color: grey;
    }
    
    .customer-seller .seller {
        background-color: rgba(219, 48, 34, 1); 
        border: 1px solid grey; 
        border-radius: 0px 5px 5px 0px; 
        color: white; 
        margin-left: -5px;
        width: 100px; 
        height: 40px;
    }
    
    #email {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        padding: 13px;
        margin-top: 20px;
    }
    
    #password {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        margin-top: 20px;
        padding: 13px;
    }

    #password-confirmation {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        margin-top: 20px;
        padding: 13px;
    }

    #name {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        margin-top: 20px;
        padding: 13px;
    }

    #phone-number {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        margin-top: 20px;
        padding: 13px;
    }

    #store-name {
        border: 1px solid #9b9b9b;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 48px;
        margin-top: 20px;
        padding: 13px;
    }
    
    h4 {
        font-weight: 1000; 
        font-size: 18px; 
        line-height: 18px; 
        text-align: center;
        margin-top: 25px;
    }

    h5 {
        font-size: 12px;
        text-align: center;
        color: #F01F0E;
        margin-top: 17px;
    }
    
    .forgot-password {
        margin-left: 210px;
        margin-top: 10px;
        text-align: center;
    }
    
    .forgot-password a {
        text-decoration: none;
        color: #DB3022;
        font-size: 15px;
    }
    
    .btn-primary {
        border-radius: 20px;
        background-color: rgba(219, 48, 34, 1);
        width: 310px;
        height: 48px;
        border: 2px solid grey;
        color: white;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .text-register {
        margin-top: 20px;
        color: #222222;
        font-size: 15px;
        line-height: 9px;
    }
    
    .text-register a {
        color: #DB3022;
        text-decoration: none;
    }

}

/* Media Query Home Page */
@media only screen and (max-width : 960px){
    .logo-brand h1 {
        margin-top: -40px;
        margin-left: 40px;
        color: rgba(219, 48, 34, 1);
        font-weight: 1000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
    }
    
    #search {
        border-radius: 23px;
        padding: 7px 15px;
        color: gray;
        width: 400px;
        height: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid gray;
        font-weight: 500px;
        margin: 20px 0px 0px 0px;
    }
    
    .icon {
        margin-left: -50px;
        color: gray;
    }
    
    .filter {
        background: #FFFFFF;
        border: 1px solid #8E8E93;
        border-radius: 12px;
        margin: 0px 5px 5px 0px;
    }
    
    #shopping {
        border: 2px solid white;
        border-radius: 3px;
        color: grey;
        margin: 0px 5px 5px 0px;
    }
    
    .btn-login {
        background: #DB3022;
        border-radius: 25px;
        border: 1px solid white;
        width: 400px;
        height: 36px;
        margin-left: 0px;
    }
    
    .btn-signup {
        background: white;
        border-radius: 25px;
        border: 1px solid grey;
        width: 400px;
        height: 36px;
        margin-left: 0px;
    }

    .image-2 h3 {
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        font-style: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        bottom: 80px;
        font-size: 38px;
        line-height: 38px;
        width: 100%;
    }

    .image-3 h3 {
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        font-style: normal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        bottom: 80px;
        font-size: 38px;
        line-height: 38px;
        width: 100%;
    }

    .image-2 img {
        width: max-content;
    }

    .brand-category {
        margin: 5px 0px;
    }

    .brand-category-1 {
        margin: 5px 0px;
    }

    .brand-category-2 {
        margin: 5px 0px;
    }

    .brand-category-3 {
        margin: 5px 0px;
    }

    .brand-category-4 {
        margin: 5px 0px;
    }
}
